In [6]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)

In [7]:
main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [8]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query2 = """
        SELECT f.name,
        SUM(CASE WHEN m.memid =0 THEN f.guestcost
        WHEN m.memid <> 0 THEN f.membercost
        END ) AS Total_Revenue
        FROM Facilities AS f
        LEFT JOIN Bookings AS b ON f.facid = b.facid
        LEFT JOIN Members AS m ON b.memid = m.memid
        GROUP BY f.name
        HAVING Total_Revenue < 1000.0
        ORDER BY Total_Revenue
        LIMIT 0 , 30
        """
    cur.execute(query2)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [9]:
main()

2.6.0
2. Query all tasks
('Table Tennis', 90)
('Snooker Table', 115)
('Pool Table', 265)
('Badminton Court', 604.5)

In [45]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query3 = """
        SELECT FirstName, Surname,(SELECT FirstName || ' ' || Surname AS Recommnededby
        FROM Members
        WHERE (CASE WHEN memid = RecommenderId
        THEN memid
        ELSE NULL END )) AS RecommendedBY
        FROM (SELECT m1.memid, m1.firstname AS FirstName, m1.surname AS Surname, m1.recommendedby AS RecommenderID
        FROM Members AS m1
        INNER JOIN Members AS m2 ON m1.memid = m2.memid
        ORDER BY m1.surname, m1.firstname
        ) AS Main
        """
    cur.execute(query3)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [46]:
main()

2.6.0
2. Query all tasks
('Florence', 'Bader', 'Ponder Stibbons')
('Anne', 'Baker', 'Ponder Stibbons')
('Timothy', 'Baker', 'Jemima Farrell')
('Tim', 'Boothe', 'Tim Rownam')
('Gerald', 'Butters', 'Darren Smith')
('Joan', 'Coplin', 'Timothy Baker')
('Erica', 'Crumpet', 'Tracy Smith')
('Nancy', 'Dare', 'Janice Joplette')
('David', 'Farrell', None)
('Jemima', 'Farrell', None)
('GUEST', 'GUEST', None)
('Matthew', 'Genting', 'Gerald Butters')
('John', 'Hunt', 'Millicent Purview')
('David', 'Jones', 'Janice Joplette')
('Douglas', 'Jones', 'David Jones')
('Janice', 'Joplette', 'Darren Smith')
('Anna', 'Mackenzie', 'Darren Smith')
('Charles', 'Owen', 'Darren Smith')
('David', 'Pinker', 'Jemima Farrell')
('Millicent', 'Purview', 'Tracy Smith')
('Tim', 'Rownam', None)
('Henrietta', 'Rumney', 'Matthew Genting')
('Ramnaresh', 'Sarwin', 'Florence Bader')
('Darren', 'Smith', None)
('Darren', 'Smith', None)
('Jack', 'Smith', 'Darren Smith')
('Tracy', 'Smith', None)
('Ponder', 'Stibbons', 'Burton Tracy')
('Burton', 'Tracy', None)
('Hyacinth', 'Tupperware', None)
('Henry', 'Worthington-Smyth', 'Tracy Smith')

In [16]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query4 = """
        SELECT f.name AS FacilityName, COUNT( * ) AS Frequencyofusage, b.memid
        FROM `Facilities` AS f
        LEFT JOIN Bookings AS b ON f.facid = b.facid
        WHERE b.memid !=0
        GROUP BY b.memid
        ORDER BY Frequencyofusage
        """
    cur.execute(query4)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [17]:
main()

2.6.0
2. Query all tasks
('Massage Room 1', 7, 36)
('Pool Table', 14, 26)
('Squash Court', 15, 35)
('Pool Table', 16, 30)
('Pool Table', 16, 33)
('Pool Table', 20, 27)
('Pool Table', 34, 28)
('Pool Table', 41, 29)
('Pool Table', 53, 22)
('Pool Table', 70, 24)
('Pool Table', 71, 17)
('Pool Table', 72, 20)
('Pool Table', 80, 13)
('Pool Table', 89, 14)
('Pool Table', 104, 9)
('Pool Table', 115, 11)
('Pool Table', 117, 7)
('Pool Table', 118, 12)
('Pool Table', 120, 15)
('Pool Table', 126, 21)
('Pool Table', 131, 10)
('Pool Table', 159, 4)
('Pool Table', 163, 5)
('Pool Table', 166, 16)
('Pool Table', 176, 6)
('Pool Table', 188, 8)
('Pool Table', 210, 2)
('Pool Table', 261, 1)
('Pool Table', 408, 3)

In [35]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query5 = """
        SELECT f.name AS FacilityName, COUNT( * ) AS Frequencyofusage, b.memid
        FROM `Facilities` AS f
        LEFT JOIN Bookings AS b ON f.facid = b.facid
        WHERE b.memid !=0
        GROUP BY b.memid
        ORDER BY Frequencyofusage
        """
    cur.execute(query5)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [36]:
main()

2.6.0
2. Query all tasks
('Massage Room 1', 7, 36)
('Pool Table', 14, 26)
('Squash Court', 15, 35)
('Pool Table', 16, 30)
('Pool Table', 16, 33)
('Pool Table', 20, 27)
('Pool Table', 34, 28)
('Pool Table', 41, 29)
('Pool Table', 53, 22)
('Pool Table', 70, 24)
('Pool Table', 71, 17)
('Pool Table', 72, 20)
('Pool Table', 80, 13)
('Pool Table', 89, 14)
('Pool Table', 104, 9)
('Pool Table', 115, 11)
('Pool Table', 117, 7)
('Pool Table', 118, 12)
('Pool Table', 120, 15)
('Pool Table', 126, 21)
('Pool Table', 131, 10)
('Pool Table', 159, 4)
('Pool Table', 163, 5)
('Pool Table', 166, 16)
('Pool Table', 176, 6)
('Pool Table', 188, 8)
('Pool Table', 210, 2)
('Pool Table', 261, 1)
('Pool Table', 408, 3)

In [41]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query6 = """
    SELECT EXTRACT(MONTH FROM starttime ) AS MONTH ,
    f.facid, f.name,COUNT( * ) AS usagecount
    FROM 'Bookings' AS b
    LEFT JOIN Facilities AS f ON b.facid = f.facid
    WHERE b.memid <> 0
    GROUP BY MONTH,f.facid
    ORDER BY f.facid
    """
    cur.execute(query6)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [42]:
main()

2.6.0
2. Query all tasks

OperationalError: near "FROM": syntax error